<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">BUAAICPC</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/honor.html">Honor</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Rating <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/rating.html?type=training">集训积分</a></li>
            <li><a href="/rating.html?type=codeforces">Codeforces</a></li>
            <li><a href="/rating.html?type=atcoder">AtCoder</a></li>
          </ul>
        </li>
        <li><a href="http://wiki.buaaacm.com/">Wiki</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Training <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Summer training</li>
            <li><a href="/training.html?year=2020">2020</a></li>
            <li><a href="/training.html?year=2019">2019</a></li>
            <li><a href="/training.html?year=2018">2018</a></li>
            <li><a href="/training.html?year=2017">2017</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>